body {
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Cantarell', sans-serif;
}

h1 {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.list_prefix_item {
  font-weight: bold;
}
