@import url("../../variables.css");

.panel {
    background-color: var(--background-color);
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 16px 1px rgba(0,0,0,.4);
    position: relative;
    margin: 20px;
    color: var(--color);
}

.panel .row-title {
    border-bottom: 1px solid #f4f4f4;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px;
    color: var(--color-on-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    position: relative;
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: var(--important-color);
    border-radius: 50%;
    z-index: 1;
}

.icon::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    border: medium solid var(--background-color);
    border-width: 1px;
    border-radius: 50%;
    z-index: 1;
    left: calc(15% - 4px);
    top: calc(15% - 4px);
}

.panel-title {
    padding-left: 8px;
}

.panel-content {
    padding: 16px;
}

.panel h1 {
    margin: 0;
}

iframe {
    width: 100%;
    height: 240px;
}

strong {
    color: var(--important-color);
}