---
---

@import "reset";
@import "variables";

html {
  font-size: 100%;
}

body {
  background: $background;
  font: 18px / 1.4 $helvetica;
  color: $on_background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $on_background;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

.list_prefix_item {
  font-weight: bold;
}
