$surface: #424242;
$background: #212121;
$error: #C51162;

$primary: $surface;
$primary_variant: #616161;

$on_background: #FFFFFF;
$on_surface: #FFFFFF;
$on_error: #FFFFFF;

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}