.panel {
    background-color: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
    position: relative;
    margin: 20px;
}

.panel div {
    margin: 0;
}

.panel .row-title {
    border-bottom: 1px solid #f4f4f4;
    background-color: #f6f6f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px;
}

.left {
    border-right: 1px solid #f4f4f4;
}

.left img {
    width: 100%;
    height: auto;
}

.project-toggle {
    color: lightgray;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.project-toggle a:hover {
    color: gray;
    cursor: pointer;
}

.panel-content {
    padding: 16px;
}

.panel h1 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .right {
        padding-left: 16px;
        padding-right: 16px;
    }
}