header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  z-index: 3;
  width: 100%;
  top: 0;
}

header div {
  text-align: center;
}

header a {
  text-decoration: none;
  color: #444;
}

header .title {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

header .title a {
  display: block;
}

header .separator {
  font-weight: bold;
  font-size: 32px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
}

header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
}

header li a:hover {
  background-color: #f4f4f4;
}

.desktop {
  display: none;
}

.responsive {
  display: block;
}

.hidden {
  display: none;
}

.responsive .nav {
  text-align: right;
  padding: 16px;
  display: block;
}

.responsive .menu li {
  border-bottom: 1px solid lightgrey;
}

footer {
  background-color: #fff;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  header li {
    float: left;
  }

  header li a {
    padding: 20px 30px;
  }

  header ul {
    clear: none;
    max-height: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .responsive {
    display: none;
  }
}