@import url("./variables.css");

header {
  background-color: var(--primary-color);
  box-shadow: 1px 1px 16px 0 rgba(0,0,0,.4);
  z-index: 3;
  width: 100%;
  top: 0;
}

header div {
  text-align: center;
}

header a {
  text-decoration: none;
}

header .title {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

header .title a {
  display: block;
  color: var(--color-on-primary);
}

header .separator {
  font-weight: bold;
  font-size: 32px;
  color: var(--color-on-primary);
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
}

header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--color-on-primary);
  font-weight: 400;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

header li a:hover {
  background-color: var(--hover-primary-color);
}

.desktop {
  display: none;
}

.responsive {
  display: block;
}

.hidden {
  display: none;
}

.responsive .nav {
  text-align: right;
  padding: 16px;
  display: block;
}

.responsive .nav span {
  color: var(--color-on-primary);
  font-weight: bold;
  font-size: 24px;
}

.responsive .menu li {
  border-bottom: 1px solid lightgrey;
}

footer {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--color-on-primary);
}

@media only screen and (min-width: 768px) {
  header li {
    float: left;
  }

  header li a {
    padding: 20px 30px;
  }

  header ul {
    clear: none;
    max-height: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .responsive {
    display: none;
  }
}