:root {
    --background-color: #FFF0CE;
    --primary-color: #83B4B3;
    --hover-primary-color: #73A4A3;
    --color-on-primary: #FFF0CE;
    --color: #383838;
    --important-color: #D55534;
    --important-color-hover: #F57554;
  }